<router-outlet></router-outlet>
    <!-- <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.0.js"></script>
	<script type='text/javascript' src="http://ec2-18-216-179-207.us-east-2.compute.amazonaws.com:8080/jasperserver-pro/client/visualize.js"></script>

	<script type="text/javascript">
		visualize({
			auth: {
				name: "jasperadmin",
				password: "jasperadmin",
				organization:"organization_1"
			}
		}, function (v) {
				v("#container").report({
				         resource: "/public/Samples/Reports/9.CustomerDetailReport",
				         scale: "container",
				         error: handleError
				       });

				       //show error
				       function handleError(err) {
				         alert(err.message);
				       }
		});
	</script> -->
